@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter:wght@100;700&display=swap");
body {
  display: flex;
  background-color: #070c10;
  padding: 30px;
  justify-content: center;
}

div.panel {
  display: flex;
  flex-wrap: wrap-reverse;
  border-radius: 20px;
  background: rgb(45, 49, 63);
  background: linear-gradient(
    137deg,
    rgba(45, 49, 63, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );
  justify-content: center;
  background-color: black;
  padding: 10px;
  gap: 20px;
}

div.balance {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    330deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(37, 37, 37, 1) 100%
  );
  border-radius: 15px;
  border: 1px solid #bebebe;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  align-items: stretch;
  justify-content: space-between;
}

p {
  font-size: 12px;
  color: white;
  margin: 0px;
}

p.total {
  font-family: Comfortaa;
  font-weight: bold;
  font-size: 32px;
}

p.march {
  font-family: Inter;
  font-weight: 60;
  color: #bebebe;
  font-size: 36px;
}

p.balance {
  font-family: Inter;
  font-weight: 60;
  color: #bebebe;
  font-size: 15px;
}

div.numbers {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

div.position {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  justify-content: space-around;
}

div.controls {
  display: flex;
}

div.income {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(82, 114, 176, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: flex-end;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  justify-content: space-between;
  border-radius: 15px;
  gap: 15px;
  flex-direction: column;
}

div.expense {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(176, 82, 82, 0.5);
  align-items: flex-end;
  border-radius: 15px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  gap: 15px;
  flex-direction: column;
}

p.subtotalm {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex: 1 1;
  font-family: COmfortaa;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
p.subtotal {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex: 1 1;
  font-family: COmfortaa;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
p.dollar {
  font-family: Comfortaa;
  font-size: 32px;
  color: #295542;
  margin: 0px;
  padding: 0px;
}

div.total {
  justify-content: space-between;
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

div.controls {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

div.buttons {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

div.plus {
  display: flex;
  padding: 20px;
  gap: 10px;
  flex: 1;
  flex-direction: column;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  background: rgb(54, 57, 151);
  background: linear-gradient(
    330deg,
    rgba(54, 57, 151, 0.5) 0%,
    rgba(28, 255, 78, 0.5) 100%
  );
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

div.plus:hover {
  background-color: rgba(0, 255, 5, 0.22);
}

div.plus:active {
  background-color: black;
}

div.minus {
  display: flex;
  flex: 1;
  gap: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  padding: 20px;
  background: rgb(54, 57, 151);
  background: rgb(101, 5, 86);
  background: linear-gradient(
    330deg,
    rgba(101, 5, 86, 0.5) 0%,
    rgba(236, 87, 87, 0.5) 100%
  );
  flex-direction: column;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

div.minus:hover {
  background-color: rgba(255, 0, 0, 0.42);
}

div.minus:active {
  background-color: black;
}

img.imgplus {
  height: 16px;
  width: 16px;
}

img.imgminus {
  height: 16px;
  width: 16px;
}

div.tablebody {
  display: flex;
  flex: 0 1;
  flex-direction: row;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    330deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(27, 27, 27, 1) 100%
  );
  border-radius: 15px;
}

div.leftside {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

div.tablehead {
  display: flex;
  justify-content: space-between;
  order: -1;
  gap: 50px;
  padding-left: 20px;
  padding-right: 7px;
}

p {
  font-family: Inter;
  font-weight: 100;
  font-size: 10px;
  color: #bebebe;
}

div.expsubtotal {
  display: flex;
  gap: 5px;
}
div.incsubtotal {
  display: flex;
  gap: 5px;
}

div.editdel {
  display: flex;
  gap: 10px;
}

div.table {
  display: flex;
  flex: 1;
  gap: 37px;
  padding: 15px;
  font-family: Inter;
  font-weight: bold;
  font-size: 11px;
  color: white;
}

td {
  display: flex;
  flex-direction: row;
}

div.tcategory {
  flex: 1;
  width: 190px;
}

div.tdescription {
  display: flex;
  flex: 1;
  padding-left: 62px;
}
div.tdate {
  width: 80px;
  flex: 1;
  font-weight: 100;
  color: #bebebe;
  padding-left: 165px;
}
div.tammount {
  display: flex;
  color: #5d2f30;
  justify-content: right;
  padding-left: 15px;
}
div.ttbalance {
  flex: 1;
  justify-content: center;
  padding-left: 10px;
}
div.tteditdlt {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

div.tedit {
  display: flex;
  flex-direction: row;
}
p.category {
  padding-left: 15px;
}

p.description {
  padding-left: 66px;
}

p.date {
  padding-left: 193px;
}

p.ammount {
  padding-left: 43px;
}

p.tbalance {
  padding-left: 2px;
}

img.icon {
  width: 14px;
  height: 14px;
}

div.icontext {
  display: flex;
  gap: 7px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
}

.modal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: rgb(45, 49, 63);
  background: linear-gradient(
    137deg,
    rgba(45, 49, 63, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  gap: 10px;
  border-radius: 20px;
  padding: 8px;
}

div.category {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    330deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(37, 37, 37, 1) 100%
  );
  border: 1px solid #909090;
  border-radius: 15px;
  padding: 10px;
}

div.title {
  font-family: Inter;
  font-weight: 60;
  color: #bebebe;
  font-size: 11px;
}
div.catname {
  font-family: Inter;
  font-weight: bold;
  color: #bebebe;
  font-size: 14px;
}

div.iconrow {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

div.inputs {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
div.indescription {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
}

p.indesctext {
  font-size: 11px;
  padding-left: 10px;
}

input {
  display: flex;
  flex: 1 1;
  padding: 5px;
  padding-left: 15px;
  font-size: 11px;
  border-radius: 10px;
  background-color: #141414;
  color: #bebebe;
  border: none;
}

input:focus {
  outline: 1px solid #303030;
  background-color: #191919;
}

div.lower {
  display: flex;
  gap: 10px;
  flex: 1;
  flex-direction: row;
}

div.inbuttons {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

div.inplus {
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  gap: 10px;
  flex: 1 1;
  flex-direction: column;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  background: rgb(54, 57, 151);
  background: linear-gradient(
    330deg,
    rgba(54, 57, 151, 0.5) 0%,
    rgba(28, 255, 78, 0.5) 100%
  );
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

div.inplus:hover {
  background-color: rgba(0, 255, 5, 0.22);
}

div.inplus:active {
  background-color: black;
}

div.inminus {
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  gap: 10px;
  flex: 1 1;
  flex-direction: column;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  background: rgb(54, 57, 151);
  background: rgb(101, 5, 86);
  background: linear-gradient(
    330deg,
    rgba(101, 5, 86, 0.5) 0%,
    rgba(236, 87, 87, 0.5) 100%
  );
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

div.inminus:hover {
  background-color: rgba(255, 0, 0, 0.42);
}

div.inminus:active {
  background-color: black;
}
div.incancel {
  display: flex;
  padding-left: 80px;
  padding-right: 40px;
  padding: 10px;
  height: 10px;
  gap: 10px;
  flex-direction: column;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    330deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(21, 21, 21, 1) 100%
  );
  align-items: center;
}

div.incancel:hover {
  background: rgb(21, 21, 21);
  background: linear-gradient(
    315deg,
    rgba(11, 11, 11, 1) 0%,
    rgba(25, 25, 25, 1) 100%
  );
}

div.incancel:active {
  background-color: black;
}
